<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="EBF8A92F-BD87-42D3-9810-DA6433E5C17F" Name="EffectiveEx" Language="1041" Version="1.0.0.0" Manufacturer="JCI-TN" UpgradeCode="c9eb786e-bc29-4b13-916a-7b99256d36df">
		<Package Id="*" Manufacturer="JCI-TN" InstallerVersion="200" Compressed="yes" />

    <Media Id="1" Cabinet="Product.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="EffectiveEx">

          <Component Id="Component1" Guid="66DFB5F1-1AFB-497C-9E6B-17B776781469">
            <File Id="EFXEXE" Name="EffectiveEx.exe" KeyPath="yes" DiskId="1" Source="..\..\EffectiveEx\bin\Release\EffectiveEx.exe">
              <Shortcut Id="startMenuEFXEXE" Directory="ProgramMenuDir" Name="EffectiveEx" WorkingDirectory="INSTALLDIR" Icon="EFXIcon.exe" IconIndex="0" Advertise="yes" />
              <Shortcut Id="desktopEFXEXE" Directory="DesktopFolder" Name="EffectiveEx" WorkingDirectory="INSTALLDIR" Icon="EFXIcon.exe" IconIndex="0" Advertise="yes" />
            </File>
          </Component>

          <Component Id="Component2" Guid="B86A91D4-2181-4BC4-B71B-04D2104EB2B3">
            <File Id="ClosedXMLDLL" Name="ClosedXML.dll" KeyPath="yes" DiskId="1" Source="..\..\EffectiveEx\bin\Release\ClosedXML.dll"></File>
          </Component>
          <Component Id="Component3" Guid="B497A85F-F0A8-4691-9ED5-20DD17321E77">
            <File Id="DocumentFormatOpenXmlDLL" Name="DocumentFormat.OpenXml.dll" KeyPath="yes" DiskId="1" Source="..\..\EffectiveEx\bin\Release\DocumentFormat.OpenXml.dll"></File>
          </Component>
          <Component Id="Component4" Guid="D7236BD9-FF28-48B3-88F3-F2399822B217">
            <File Id="ExcelNumberFormatDLL" Name="ExcelNumberFormat.dll" KeyPath="yes" DiskId="1" Source="..\..\EffectiveEx\bin\Release\ExcelNumberFormat.dll"></File>
          </Component>
          <Component Id="Component5" Guid="5769D617-EFBD-44A2-AC74-6ECDAA7CE220">
            <File Id="SystemIOPackagingDLL" Name="System.IO.Packaging.dll" KeyPath="yes" DiskId="1" Source="..\..\EffectiveEx\bin\Release\System.IO.Packaging.dll"></File>
          </Component>

        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="EffectiveEx">
          <Component Id="ProgramMenuDir" Guid="68535F36-C3C6-4241-BE58-67EE8844A765">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />

    </Directory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="Component1" />
      <ComponentRef Id="Component2" />
      <ComponentRef Id="Component3" />
      <ComponentRef Id="Component4" />
      <ComponentRef Id="Component5" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>

    <Icon Id="EFXIcon.exe" SourceFile="..\..\EffectiveEx\bin\Release\EffectiveEx.exe" />
    
	</Product>

</Wix>
